.documentation {
    background-color: #f8f9fa;
    padding: 60px 60px 10px 60px;
}

.documentationTitle {
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
}

.documentationContent {
    margin: 40px 100px;
}

.documentation h1 {
    border-bottom: 2px solid #783094;
}

table {
    margin-bottom: 10px;
}

td, th {
    padding: 10px 16px;
    border-bottom: 1px solid #783094;
    text-align: left;
}